{% extends 'base.html' %}

{% load static %}

{% block content %}

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="page-contents">
                        {% include 'includes/sidebar.html' %}
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <h1>About</h1>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </section>
                            {%endblock%}